/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    body,
    html {
        overflow-x: hidden;
    }

    #wrapper-mobile {
        width: 100vw;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        
    }

    .navbar {
        z-index: 1000;
        position: relative;
    }

    .navbar-nav {
        display: none;
    }

    .logo2 {
        margin: 0 auto;
     }

    .d-flex {
        margin: 0 auto;
    }

    .searchpage-form {
        align-items: center;
        justify-content: center;
    }

    #search-h1 {
        font-size: 20px;
    }

    #searchInput{
        width: 12rem;
    }

    #searchButton  {
        width: 20%;
        font-size: 11px;
    }

    #hero-container {
        margin-top: 4%;
    }


 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    body,
    html {
        overflow-x: hidden;
    }

    #wrapper-mobile {
        width: 100vw;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        
    }

    .navbar {
        z-index: 1000;
        position: relative;
    }

    .navbar-nav {
        display: none;
    }

    .logo2 {
        margin: 0 auto;
     }

    .d-flex {
        margin: 0 auto;
    }

    .searchpage-form {
        align-items: center;
        justify-content: center;
    }


    #searchInput{
        width: 12rem;
    }

    #searchButton  {
        width: 20%;
        font-size: 11px;
    }

    #hero-container {
        margin-top: 4%;
    }

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    body,
    html {
        overflow-x: hidden;
    }

    #wrapper-mobile {
        width: 100vw;
        padding-left: 5px;
        padding-right: 5px;
        box-sizing: border-box;
        
    }

    .navbar {
        z-index: 1000;
        position: relative;
    }

    .navbar-nav {
        display: none;
    }

    .logo2 {
       margin: 0 auto;
    }

    .d-flex {
        margin: 0 auto;
    }
    .searchpage-form {
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #searchInput{
        width: 20rem;
    }

    #searchButton  {
        width: 15%;
        font-size: 15px;
    }

    #hero-container {
        margin-top: 4%;
    }


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body,
    html {
        overflow-x: hidden;
    }

    .navbar {
        z-index: 1000;
        position: relative;
    }

    .custom-nav {
        font-size: 18px;
    }

    .d-flex {
        margin: 0 auto;
    }

    #search-container {
        width: 70px;
    }

    #searchInput{
        width: 18rem;
    }

    #searchButton  {
        width: 15%;
        font-size: 11px;
    }

    #hero-container {
        margin-top: 4%;
    }

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 

    body,
    html {
        overflow-x: hidden;
    }

    .navbar {
        z-index: 1000;
        position: relative;
    }

    .custom-nav {
        font-size: 18px;
    }

    .d-flex {
        margin: 0 auto;
    }

    #search-container {
        width: 70px;
    }

    #searchInput{
        width: 12rem;
    }

    #searchButton  {
        width: 10%;
        font-size: 11px;
    }

    #hero-container {
        margin-top: 4%;
    }
 
   

}

/* Extra extra large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

    body,
    html {
        overflow-x: hidden;
    }

    .navbar {
        z-index: 1000;
        position: relative;
    }

    .custom-nav {
        font-size: 18px;
    }

    .d-flex {
        margin: 0 auto;
    }

    #search-container {
        width: 70px;
    }

    #searchInput{
        width: 22rem;
    }

    #searchButton  {
        width: 10%;
        font-size: 11px;
    }

    #hero-container {
        margin-top: 4%;
    }

    .logo2 {
        font-size: 3rem;
     }
 }